<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Image Upload Site{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Image Upload</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'upload_image' %}">Upload Image</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'image_list' %}">Image List</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
